// .button-class
.button {
    border: none;
    outline: none; 
  }
  
  // replacement for outline
  .button:hover {
    cursor: pointer;  // changes to little
    // hand with pointing finger
  }
  
  .button:hover,
  .button:focus {
    filter: brightness(110%); // will get brighter when we mouse over
    box-shadow: 4px 2px 5px #000;
  }